@import 'styles/variables.scss';
.card1{
    background-color: #222d92;
    color:white;
}

.card2{
    background-color: #13B157;
    color:white;
}

.card3{
    background-color: orangered;
    color:white;
}

.card4{
    background-color: red;
    color:white;
}

.taille{
    width: 100%;
    height: 130px;
    border-radius: 10px;
}