<!-- <li class="nav-item dropdown dropdown-user no-caret" *ngIf="userService.user$ | async as user" ngbDropdown placement="bottom-right" display="dynamic">
    <a class="nav-link dropdown-toggle" id="userDropdown" ngbDropdownToggle data-cy="userMenu" role="button" aria-haspopup="true" aria-expanded="false"><fa-icon [icon]='["fas", "user"]'></fa-icon></a>
    <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="dropdownUser">
        <h6 class="dropdown-header">
            <div class="dropdown-user-details">
                <div class="dropdown-user-details-name">{{ user.nom }} {{ user.prenom }}</div>
                <div class="dropdown-user-details-email">{{ user.email }}</div>
            </div>
        </h6>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item" (click)="onLogout()">Se deconnecter</button>
    </div>
</li>

 -->



 <ul class="navbar-nav ml-auto ml-md-0 pr-2">        
    <li class="nav-item dropdown dropdown-user no-caret no-arrow " *ngIf="userService.user$ | async as user" ngbDropdown placement="bottom-right" display="dynamic">
        <!-- <span class="text-grey user">{{ user.nom }} {{ user.prenom}}</span>&nbsp;
        <button mat-raised-button color="warn" class="btn" (click)="onLogout()">Deconnexion</button> -->

<div class="row">
    <div class="col-8">
         <!-- <span class="text-grey user">{{ user.nom }}&nbsp;{{ user.prenom}}</span>&nbsp; -->

    </div>
    <div class="col-6 icon">
        <a class="nav-link shortcut no-arrow text shadow-lg icon" id="userDropdown" ngbDropdownToggle data-cy="userMenu" role="button" aria-haspopup="false" aria-expanded="false">
            <fa-icon [icon]='["fas", "user-tie"]' class=" icon-circle"></fa-icon>
        </a>
        <div class="dropdown-menu dropdown-menu-right icon" ngbDropdownMenu aria-labelledby="dropdownUser">
            <h6 class="dropdown-header">
                <div class="dropdown-user-details">
                    <div class="dropdown-user-details-name user">{{ user.nom }} {{ user.prenom}}</div>
                    <!-- <div class="dropdown-user-details-email">{{ user.email }}</div> -->
                </div>
            </h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item btn"  mat-raised-button color="warn" (click)="onLogout()">DECONNEXION</a>
        </div>
    </div>
    

</div>
       
       
    </li>

    <!-- divider -->
   
    <div class="topbar-divider d-none d-sm-block"></div>

    <!-- <li class="nav-item dropdown dropdown-user no-caret  mr-2"  *ngIf="userService.user$ | async as user" ngbDropdown placement="bottom-right" display="dynamic">
            <span class="text-white">{{ user.nom }} {{ user.prenom}}</span>&nbsp;
        <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="dropdownUser">
            <h6 class="dropdown-header">
                <div class="dropdown-user-details">
                    <div class="dropdown-user-details-name">test</div>
                    <div class="dropdown-user-details-email">test</div>
                </div>
            </h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/dashboard">Settings</a><a class="dropdown-item" routerLink="/dashboard">Activity Log</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="onLogout()">Se deconnecter</a>
        </div>
    </li> -->
</ul>