@import 'styles/variables.scss';

.classe{
    background-color:#eef2f2;
    color: white;
}
a{
    color: grey;
}

.icon{
    color: blue;
}
.be{
font-size: 50px;
color: #222d92;
font-style: italic;
font-weight: bold;
}
.bil{
    font-size: xx-large;
    color: #13B157;
    font-style: italic;
    font-weight: bold;
}

.let{
    font-size: xx-large;
    color: orangered;
    
font-style: italic;
font-weight: bold;

}
