@import 'styles/variables.scss';
.bg-theme {
    background-color: rgb(1, 1, 93);
    
}

.item{
    color:white;
}

.nav{
    color:white;
}

.small{
    color: white;
}

// .divider{
//     height: 20px;
//     border-top: 2px;
//     border-color: dark;

// }

