.btn{
    width: 80px!important;
    min-width: unset!important;
    font-size: small;
    border-radius: 10px;
    color: white;
  }
  .submit{
    background-color: #13B157;
    color: white;
  }  
  
  .button-vue{
    width: 40px;
    min-width: unset!important;
    background-color: #13B157;
  }
  
  .button{
    width: 40px!important;
    min-width: unset!important;
    font-size: small;
    color: white;
  }
  
  .card-header{
    width: 100%;
    height: 60px;
  background-color: white;
  color: rgb(102, 102, 102);
  }
  
  .modal-header{
    
    width: 100%;
  background-color: #222d92;
  height: 50px;
  color:white
  
  }
  
  .modal-body{
    font-size: small;
  }
  
  .modal-footer{
  background-color: lightgrey;
  width: 100%;
  height: 60px;
  }
  .icon{
  width: 20px;
  min-width: unset!important;
  font-size:large;
  border-radius: 10px;
  background-color: #222d92;
  border-color: #222d92;
  border-width: 0px;
  color: white;
  
  }
  
  .navbar{
  background-color: #222d92;
  color: white;
  }
  
  .menu{
  width: 20px;
  border: none;
  font-size: small;
  
  }
  
  .item{
  font-size: medium;
  height: 40px;
  border-bottom:2px;
  border-bottom-color: #222d92;
  }
  
  .faf{
  background-color: white;
  color: #222d92;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  font-size: xx-large;
  }
  .ff{
  font-size: medium;
  }
  
  .label{
    color: gray;
  }